.kg-app__menu-wrap
  position relative
  order 3
  z-index 3
.kg-app__menu
  position absolute
  height 100%
  width 386px
  background-color wheat
  transition all 0.5s ease-out
  will-change transform
  .kg-app_menu-active &
    transform translateX(-386px)
