.app-header__bookmark
  width 48px
  text-align center
  align-self center
  text-decoration none
  color white
  transition all 0.5s ease-out
  &.app-header__bookmark_bookmarked
    color gold
    transform rotate(216deg)