.app-header
  height 64px
  position relative
  display flex
  flex-flow row nowrap
  align-items stretch
  transition all 0.2s ease-out
  &.app-header_mini
    height 32px
.app-header__spacer
  flex 1
  display flex
  position relative
  overflow hidden