.app-header
  height 64px
  position relative
  display flex
  flex-flow row nowrap
  align-items stretch
  font-family: 'Roboto', sans-serif;
  background #1ba3e1
  color white
  font-size 12pt
  transition all 0.2s ease-out
  &.app-header_mini
    height 40px
.app-header__spacer
  flex 1
  display flex
  position relative
  overflow hidden
  height inherit