.app-header__search
  width 128px
  order 2
  background-color #CCCCFF
  display flex
  flex-flow row nowrap
  align-items stretch
.app-header__search-button
  width 128px
  background-color #FFCC33
  transition all 0.5s ease-out
.app-header__search-field
  position absolute
  display flex
  height 100%
  background-color wheat
  left 1800px
  right 0
  transition all 0.5s ease-out
  align-items center
  .app-header_search-active &
    left 0
.app-header__search-icon
  flex 0 0 64px
  height inherit
  display flex
  flex-direction column
  justify-content center
  text-align center
.app-header__search-tags
  flex 0 0 auto
  background-color aquamarine
  padding 4px
  margin 4px
.app-header__search-input
 flex 1 1 auto
.app-header__search-close
  flex 0 0 64px
  height inherit
  display flex
  flex-direction column
  justify-content center
  text-align center
